# Propensity Score Matching

In [5]:
install.packages('tableone', repos='http://cran.us.r-project.org')

also installing the dependencies ‘gtools’, ‘nloptr’, ‘statmod’, ‘RcppEigen’, ‘minqa’, ‘mitools’, ‘gdata’, ‘lme4’, ‘survey’, ‘e1071’, ‘gmodels’, ‘lmerTest’, ‘labelled’

Updating HTML index of packages in '.Library'
Making 'packages.html' ... done

In [6]:
install.packages('Matching', repos='http://cran.us.r-project.org')

Updating HTML index of packages in '.Library'
Making 'packages.html' ... done

In [7]:
install.packages("MatchIt",repos='http://cran.us.r-project.org')

Updating HTML index of packages in '.Library'
Making 'packages.html' ... done

In [ ]:
install.packages("arm",repos='http://cran.us.r-project.org')

In [77]:
install.packages("ramify",repos='http://cran.us.r-project.org')

Updating HTML index of packages in '.Library'
Making 'packages.html' ... done

In [8]:
library(tableone)

library(Matching)

library(MatchIt)

library("arm")

data(lalonde)

Loading required package: MASS
##
##  Matching (Version 4.9-7, Build Date: 2020-02-05)
##  See http://sekhon.berkeley.edu/matching for additional documentation.
##  Please cite software as:
##   Jasjeet S. Sekhon. 2011. ``Multivariate and Propensity Score Matching
##   Software with Automated Balance Optimization: The Matching package for R.''
##   Journal of Statistical Software, 42(7): 1-52.
##

In [9]:
head(lalonde)

     treat age educ black hispan married nodegree re74 re75 re78
NSW1 1     37  11   1     0      1       1        0    0     9930.0460
NSW2 1     22   9   0     1      0       1        0    0     3595.8940
NSW3 1     30  12   1     0      0       0        0    0    24909.4500
NSW4 1     27  11   1     0      0       1        0    0     7506.1460
NSW5 1     33   8   1     0      0       1        0    0      289.7899
NSW6 1     22   9   1     0      0       1        0    0     4056.4940

In [10]:
str(lalonde)

'data.frame':	614 obs. of  10 variables:
 $ treat   : int  1 1 1 1 1 1 1 1 1 1 ...
 $ age     : int  37 22 30 27 33 22 23 32 22 33 ...
 $ educ    : int  11 9 12 11 8 9 12 11 16 12 ...
 $ black   : int  1 0 1 1 1 1 1 1 1 0 ...
 $ hispan  : int  0 1 0 0 0 0 0 0 0 0 ...
 $ married : int  1 0 0 0 0 0 0 0 0 1 ...
 $ nodegree: int  1 1 0 1 1 1 0 1 0 0 ...
 $ re74    : num  0 0 0 0 0 0 0 0 0 0 ...
 $ re75    : num  0 0 0 0 0 0 0 0 0 0 ...
 $ re78    : num  9930 3596 24909 7506 290 ...

### Variable description

Use `?lalonde` to get information of variables

age age in years.

educ years of schooling.

black indicator variable for blacks.

hispan indicator variable for Hispanics.

married indicator variable for marital status.

nodegree indicator variable for high school diploma.

re74 real earnings in 1974.

re75 real earnings in 1975.

re78 real earnings in 1978.

treat an indicator variable for treatment status.

The outcome is re78 – post-intervention income.

The treatment is treat – which is equal to 1 if the subject received the labor training and equal to 0 otherwise.

The potential confounding variables are: age, educ, black, hispan, married, nodegree, re74, re75.

#### Q1. Find the standardized differences for all of the confounding variables (pre-matching). What is the standardized difference for married (to nearest hundredth)?

$$smd = \sqrt{\frac{\bar{X}_{treatment} - \bar{X}_{control}}{\frac{s^2_{treatment}+s^2_{control}}{2}}}$$

In [14]:
xvars <- c("age","educ","black","hispan","married","nodegree","re74","re75")
# Create table one
table1 <- CreateTableOne(vars = xvars, data = lalonde, strata = "treat",test = FALSE)

print(table1,smd=TRUE)

                      Stratified by treat
                       0                 1                 SMD
  n                        429               185
  age (mean (SD))        28.03 (10.79)     25.82 (7.16)     0.242
  educ (mean (SD))       10.24 (2.86)      10.35 (2.01)     0.045
  black (mean (SD))       0.20 (0.40)       0.84 (0.36)     1.668
  hispan (mean (SD))      0.14 (0.35)       0.06 (0.24)     0.277
  married (mean (SD))     0.51 (0.50)       0.19 (0.39)     0.719
  nodegree (mean (SD))    0.60 (0.49)       0.71 (0.46)     0.235
  re74 (mean (SD))     5619.24 (6788.75) 2095.57 (4886.62)  0.596
  re75 (mean (SD))     2466.48 (3292.00) 1532.06 (3219.25)  0.287

#### Answer 1. `smd(married) = 0.72`

#### Q2. What is the raw (unadjusted) mean of real earnings in 1978 for treated subjects minus the mean of real earnings in 1978 for untreated subjects?

In [20]:
mean(lalonde[lalonde$treat == 1,]$re78)

[1] 6349.144

In [30]:
mean_df <- aggregate(lalonde["re78"],by=list(treat=lalonde$treat),FUN=mean)
mean_df

  treat re78
1 0     6984.170
2 1     6349.144

In [31]:
mean_df[2,2]-mean_df[1,2]

[1] -635.0262

#### Answer 2. `-635`

Fit a propensity score model. Use a logistic regression model, where the outcome is treatment. Include the 8 confounding variables in the model as predictors, with no interaction terms or non-linear terms (such as squared terms). Obtain the propensity score for each subject.

#### Q3. What are the minimum and maximum values of the estimated propensity score?

In [34]:
ps_model <-glm(treat ~ age + educ + black + hispan + married + nodegree + re74 + re75, family = binomial(),data = lalonde)

summary(ps_model)

ps_est <- ps_model$fitted.values

Call:
glm(formula = treat ~ age + educ + black + hispan + married +
    nodegree + re74 + re75, family = binomial(), data = lalonde)

Deviance Residuals:
    Min       1Q   Median       3Q      Max
-1.7645  -0.4736  -0.2862   0.7508   2.7169

Coefficients:
              Estimate Std. Error z value Pr(>|z|)
(Intercept) -4.729e+00  1.017e+00  -4.649 3.33e-06 ***
age          1.578e-02  1.358e-02   1.162  0.24521
educ         1.613e-01  6.513e-02   2.477  0.01325 *
black        3.065e+00  2.865e-01  10.699  < 2e-16 ***
hispan       9.836e-01  4.257e-01   2.311  0.02084 *
married     -8.321e-01  2.903e-01  -2.866  0.00415 **
nodegree     7.073e-01  3.377e-01   2.095  0.03620 *
re74        -7.178e-05  2.875e-05  -2.497  0.01253 *
re75         5.345e-05  4.635e-05   1.153  0.24884
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

(Dispersion parameter for binomial family taken to be 1)

    Null deviance: 751.49  on 613  degrees of freedom
Residual deviance: 487.84  on 605  degrees of freedom
AIC: 505.84

Number of Fisher Scoring iterations: 5

In [35]:
c(min(ps_est),max(ps_est))

[1] 0.009080193 0.853152844

#### Answer 4. `(min,max)=(0.00908019323660914, 0.853152844232332)`

Now carry out propensity score matching using the Match function.

Before using the Match function, first do:

>set.seed(931139)

Setting the seed will ensure that you end up with a matched data set that is the same as the one used to create the solutions.

Use options to specify pair matching, without replacement, no caliper.

Match on the propensity score itself, not logit of the propensity score. Obtain the standardized differences for the matched data.

In [69]:
set.seed(931139)
ps_match <- Match(Tr = lalonde$treat, M=1, X = ps_est, replace = FALSE)

matched <- lalonde[unlist(ps_match[c("index.treated","index.control")]),]

matched_table1 <-CreateTableOne(var=xvars, strata = "treat", data = matched, test=FALSE,smd=TRUE)

print(matched_table1,smd=TRUE)

                      Stratified by treat
                       0                 1                 SMD
  n                        185               185
  age (mean (SD))        25.29 (10.65)     25.82 (7.16)     0.058
  educ (mean (SD))       10.55 (2.71)      10.35 (2.01)     0.084
  black (mean (SD))       0.47 (0.50)       0.84 (0.36)     0.852
  hispan (mean (SD))      0.21 (0.41)       0.06 (0.24)     0.453
  married (mean (SD))     0.20 (0.40)       0.19 (0.39)     0.027
  nodegree (mean (SD))    0.65 (0.48)       0.71 (0.46)     0.127
  re74 (mean (SD))     2351.12 (4192.62) 2095.57 (4886.62)  0.056
  re75 (mean (SD))     1605.02 (2601.68) 1532.06 (3219.25)  0.025

#### Answer 4. `0.027`

#### Q5. For the propensity score matched data: Which variable has the largest standardized difference?

In [92]:
smd <- ExtractSmd(matched_table1)
row.names(smd)[which.max(smd)]

[1] "black"

#### Answer 5. `black`

Re-do the matching, but use a caliper this time. Set the caliper=0.1 in the options in the Match function.

Again, before running the Match function, set the seed:

>set.seed(931139)

#### Q6. How many matched pairs are there?

In [93]:
set.seed(931139)
ps_match <- Match(Tr = lalonde$treat, M=1, X = ps_est, replace = FALSE, caliper = .1)

matched <- lalonde[unlist(ps_match[c("index.treated","index.control")]),]

matched_table1 <-CreateTableOne(var=xvars, strata = "treat", data = matched, test=FALSE,smd=TRUE)

print(matched_table1,smd=TRUE)

                      Stratified by treat
                       0                 1                 SMD
  n                        111               111
  age (mean (SD))        26.27 (11.10)     26.22 (7.18)     0.006
  educ (mean (SD))       10.37 (2.66)      10.25 (2.31)     0.047
  black (mean (SD))       0.72 (0.45)       0.74 (0.44)     0.040
  hispan (mean (SD))      0.11 (0.31)       0.10 (0.30)     0.029
  married (mean (SD))     0.24 (0.43)       0.24 (0.43)    <0.001
  nodegree (mean (SD))    0.66 (0.48)       0.65 (0.48)     0.019
  re74 (mean (SD))     2704.56 (4759.89) 2250.49 (5746.14)  0.086
  re75 (mean (SD))     1969.10 (3169.08) 1222.25 (3081.19)  0.239

#### Answer 6. `111`

Use the matched data set (from propensity score matching with caliper=0.1) to carry out the outcome analysis.

#### Q7. For the matched data, what is the mean of real earnings in 1978 for treated subjects minus the mean of real earnings in 1978 for untreated subjects?

In [94]:
head(matched)

     treat age educ black hispan married nodegree re74 re75 re78
NSW1 1     37  11   1     0      1       1        0    0     9930.0460
NSW2 1     22   9   0     1      0       1        0    0     3595.8940
NSW3 1     30  12   1     0      0       0        0    0    24909.4500
NSW4 1     27  11   1     0      0       1        0    0     7506.1460
NSW5 1     33   8   1     0      0       1        0    0      289.7899
NSW6 1     22   9   1     0      0       1        0    0     4056.4940

In [98]:
mean_df <- aggregate(matched["re78"],by=list(treat=matched$treat),FUN=mean)
mean_df

  treat re78
1 0     4904.375
2 1     6151.181

In [99]:
mean_df[2,2]-mean_df[1,2]

[1] 1246.806

#### Answer 7. `1246`

#### Q8. Use the matched data set (from propensity score matching with caliper=0.1) to carry out the outcome analysis. Carry out a paired t-test for the effect of treatment on earnings. What are the values of the 95% confidence interval?

In [100]:
y_treated = matched[matched$treat==1,"re78"]
y_control = matched[matched$treat==0,"re78"]
diff_y = y_treated - y_control
t.test(diff_y)

	One Sample t-test

data:  diff_y
t = 1.4824, df = 110, p-value = 0.1411
alternative hypothesis: true mean is not equal to 0
95 percent confidence interval:
 -420.0273 2913.6398
sample estimates:
mean of x
 1246.806

#### Answer 8. `(-420.0273, 2913.6398)`